.BranchFormFields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px 0;

  & .BranchFormFieldName {
    display: inline-block;
    width: 120px;
    vertical-align: top;

    padding-left: 8px;
    border-left: 1px solid;
    border-color: transparent;

    &.isFieldChanged {
      border-color: inherit;
    }
  }

  & .BranchFormFieldValue {
    display: inline-block;
  }
}
