users-list {
  display: block;
  border-inline: 1px solid var( --fg-color-border );
  border-bottom: 1px solid var( --fg-color-border );
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;

  &[inert] {
    opacity: 30%;
  }
}

users-line {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 4px 8px;
  background-color: var( --bg-color-result );

  &.isUserHighlighted {
    --bg-color-result: var( --bg-color-selected );
  }
}

users-line-id {
  flex: 0 0 50px;
}

users-line-login {
  flex: 2 1 auto;
  width: 225px;
}

users-line-name {
  flex: 2 1 auto;
  width: 125px;
}

users-line-branch {
  flex: 1 0 125px;
}

users-line-active {
  flex: 0 0 48px;
}

user-line-edit-button {
  height: 100%;
  width: 88px;

  &:hover {
    background-color: var( --bg-color-hover );
  }
}

user-line-edit-button-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

users-line-overflowable {
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: var(--bg-color-result);
    display: inline;
    box-shadow: 0 0 16px 16px var(--bg-color-result);
    clip-path: inset(0 -16px 0 0);
  }
}
