users-list {
  display: block;
  background-color: var( --bg-color-result );
  border-inline: 1px solid var( --fg-color-border );
  border-bottom: 1px solid var( --fg-color-border );
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

users-line {
  height: 32px;
  display: grid;
  grid-template-columns: var( --user-app-grid-columns );
  align-items: center;
  padding-inline: 4px;
}

.isUserHighlighted {
  background-color: var( --bg-color-selected );
}

.UsersLineActionEdit {
  padding: 4px;
}