.AllowExitModalDialogContent {
  padding: 8px;
}

.AllowExitModalDialogMessage {
  white-space: break-spaces;
  margin-bottom: 16px;
}

.AllowExitModalDialogActions {
  display: flex;
  justify-content: space-between;
}

.AllowExitModalDialogButton {
  white-space: break-spaces;
}
