user-field-form-error {
  margin: 6px 0;
  color: var( --fg-color-error );
}

user-field-save-error {
  margin: 6px 0;
  color: var( --fg-color-error );

  &::before {
    content: "⇅";
    margin-right: 2px;
  }
}