.UsersPagination {
  width: fit-content;
  height: 32px;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  background-color: var( --bg-color-control );

  div {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:not(.inactive):hover {
      background-color: var( --bg-color-hover );
    }

    &.inactive {
      color: var( --fg-color-inactive );
      cursor: default;
    }
  }
}
