.BranchFieldFormError {
  margin: 6px 0;
  color: var( --fg-color-error );
}

.BranchFieldSaveError {
  margin: 6px 0;
  color: var( --fg-color-error );

  &::before {
    content: "⇅";
    margin-right: 2px;
  }
}