.Button {
  appearance: none;
  background-color: var( --bg-color-control );
  color: var( --fg-color );
  border: solid 1px var( --fg-color-border );
  border-radius: 3px;
  padding: 6px 12px;
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: var( --bg-color-hover );
  }

  &:disabled {
    color: rgb( from var( --fg-color ) r g b / 50%);
    background-color: rgb( from var( --bg-color-control ) r g b / 50%);
    cursor: not-allowed;
  }
}
