.InputCheckbox {
  appearance: none;
  margin: 0;

  width: 22px;
  height: 22px;
  border: solid 1px var( --fg-color-border );
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: var(--bg-color-control);
  color: var( --fg-color );

  &::before {
    content: "✔";
  }
  &:not(:checked)::before {
    color: transparent;
  }
}
