.Notifications {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 200px;
}

.Notification {
  margin-bottom: 8px;
  height: 66px;
  padding: 4px 6px;
  color: white;

  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  &.info {
    background-color: green;
  }

  &.error {
    background-color: red;
  }

  & .close {
    float: right;
    width: 18px;
    text-align: right;
    color: yellow;
    cursor: pointer;
  }
}
