notifications {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

notification {
  height: 58px;
  padding: 2px 6px;
  color: white;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;

  &.info {
    background-color: green;
  }

  &.error {
    background-color: red;
  }
}

notification-close {
  float: right;
  width: 18px;
  text-align: right;
  color: yellow;
  cursor: pointer;
}
