.IsDarkToggler {
  align-content: center;
  margin-left: 50px;
  padding: 0 16px;
  cursor: pointer;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);

  & a {
    color: var(--fg-color-act);
  }

  --bg-color: #fff4dd;
  --bg-color-table: #fffdfa;
  --bg-color-selected: #e8c0be;
  --fg-color: #4a3f34;
  --fg-color-act: #07072a;

  &.dark-theme {
    --bg-color: #0e131c;
    --bg-color-table: #111a2d;
    --bg-color-selected: #737373;
    --fg-color: #b8c8d9;
    --fg-color-act: #f8f8d5;
  }
}
