.IsDarkToggler {
  height: 32px;
  width: 32px;
  border: 1px solid var( --fg-color-border );
  border-radius: 2px;
  background-color: var(--bg-color-control);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  background-color: var( --bg-color-main );
  color: var(--fg-color);

  color-scheme: light;
  --bg-color-main: #ffffff;
  --bg-color-result: #fffff0;
  --bg-color-control: #fffcd6;

  --bg-color-hover: #fcf5ae;
  --bg-color-selected: #ebe385;

  --fg-color: #4a3f34;
  --fg-color-border: #707070;
  --fg-color-inactive: grey;
  --fg-color-error: orangered;

  &.dark-theme {
    color-scheme: dark;
    --bg-color-main: #000000;
    --bg-color-result: #0e131c;
    --bg-color-control: #0f1c39;

    --bg-color-hover: #163272;
    --bg-color-selected: #093eb7;

    --fg-color: #c5d7ec;
  }
}
