.InputText {
  font-size: 14px;
  height: 22px;
  width: 150px;
  border: solid 1px var( --fg-color-border );
  border-radius: 2px;
  padding: 0 4px;
  color: var( --fg-color );
  background-color: var(--bg-color-control);
}
