.UsersHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.UsersTitle {
  font-size: 32px;
  max-width: 800px;
}

.CreateUserButton {
  padding: 8px;
  border: 1px solid var( --fg-color-border );
  border-radius: 5px;
  background-color: var( --bg-color-control );
}