.BranchesPagination {
  display: flex;
  justify-content: center;

  div {
    width: 50px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var( --bg-color-control );
    cursor: pointer;

    &:not(.inactive):hover {
      background-color: var( --bg-color-hover );
    }

    &.inactive {
      color: var( --fg-color-inactive );
      cursor: default;
    }
  }
}
