branches-pagination {
  margin-top: 20px;
  height: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;

  &[inert] {
    opacity: 30%;
  }
}

.BranchPaginationButton {
  width: 50px;
  border: solid 1px var( --fg-color-border );
  border-radius: 3px;
  font-size: 16px;

  cursor: pointer;
  color: var( --fg-color );
  background-color: var( --bg-color-control );

  &:hover {
    background-color: var( --bg-color-hover );
  }

  &:disabled {
    color: rgb( from var( --fg-color ) r g b / 50%);
    background-color: rgb( from var( --bg-color-control ) r g b / 50%);
    cursor: initial;
  }
}
