.BranchesPagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;

  button {
    width: 50px;
    height: 32px;

    appearance: none;
    border: solid 1px var( --fg-color-border );
    border-radius: 5px;
    font-size: 16px;

    cursor: pointer;
    color: var( --fg-color );
    background-color: var( --bg-color-control );

    &:hover {
      background-color: var( --bg-color-hover );
    }

    &:disabled {
      color: rgb( from var( --fg-color ) r g b / 50%);
      background-color: rgb( from var( --bg-color-control ) r g b / 50%);
      cursor: initial;
    }
  }
}
