.SingleSelect {
  position: relative;
  display: flex;
  align-items: center;
  height: 22px;

  font-size: 14px;

  background-color: var(--bg-color-control);
  border: 1px solid;
  border-radius: 2px;
}

.SingleSelectValue {
  flex: 1;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 0 2px;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none
}

.SingleSelectClear::after {
  padding-right: 2px;
  content: '✗';
  cursor: pointer;
}

.SingleSelectOptions {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  max-height: 110px;
  overflow-y: auto;

  background-color: var(--bg-color-control);
  outline: 1px solid;
  border-radius: 2px;
  cursor: pointer;
}

.SingleSelectOption {
  height: 22px;
  width: 100%;
  padding-left: 4px;
  padding-top: 2px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: var(--bg-color-hover);
  }

  &.isSelected {
    background-color: var(--bg-color-selected);
  }
}