single-select {
  position: relative;
  line-height: 22px;
  font-size: 14px;
  display: flex;

  background-color: var( --bg-color-control );
  outline: 1px solid var( --fg-color-border );
  border-radius: 3px;
}

single-select-value {
  flex: 1;
  padding-inline: 4px;
  cursor: pointer;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: var( --bg-color-hover );
  }
}

single-select-clear {
  padding-inline: 2px;
  cursor: pointer;

  &:hover {
    background-color: var( --bg-color-hover );
  }
}

single-select-options {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 500%;
  overflow-y: auto;

  outline: 1px solid var( --fg-color-border );
  border-radius: 3px;
}

single-select-option {
  display: block;
  padding-left: 4px;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  background-color: var( --bg-color-control );

  &.isOptionSelected {
    --bg-color-control: var( --bg-color-selected );
  }
  &:hover {
    --bg-color-control: var( --bg-color-hover );
  }
}
