single-select {
  position: relative;
  display: flex;
  height: 22px;
  font-size: 14px;
  line-height: 1.5;

  background-color: var( --bg-color-control );
  border: 1px solid var( --fg-color-border );
  border-radius: 3px;
}

single-select-value {
  flex: 1;
  padding-inline: 4px;
  cursor: pointer;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: var( --bg-color-hover );
  }
}

single-select-clear {
  padding-inline: 2px;
  cursor: pointer;

  &:hover {
    background-color: var( --bg-color-hover );
  }
}

single-select-options {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: calc( 100% * 5 );
  overflow-y: auto;

  background-color: var( --bg-color-control );
  outline: 1px solid var( --fg-color-border );
  border-radius: 3px;
  cursor: pointer;
}

single-select-option {
  flex: 0 0 100%;
  padding-left: 4px;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: var( --bg-color-hover );
  }
}

.isSingleSelectOptionSelected {
  background-color: var( --bg-color-selected );
}