adm {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas:
    " AdmHeader AdmHeader "
    " AdmMenu   AdmApp    "
    " AdmFooter AdmFooter ";
}
