adm-menu {
  flex: 0 0 220px;
  display: flex;
  flex-direction: column;
}

adm-menu-header {
  font-size: 32px;
  margin-bottom: 20px;
}

adm-menu-item {
  display: block;
  height: 45px;
  background-color: var(--bg-color-result);

  &[inert] {
    background-color: var(--bg-color-selected);
  }
}

.AdmMenuItemAnchor {
  display: block;
  height: 100%;
}

adm-menu-item-content {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 24px;
}

adm-menu-item-icon {
  width: 24px;
  margin: 8px;
  stroke: var( --fg-color );
  fill: var( --fg-color );
}