adm-menu {
  grid-area: AdmMenu;
  display: flex;
  flex-direction: column;
}

adm-menu-header {
  font-size: 32px;
  margin-bottom: 20px;
}

adm-menu-item {
  font-size: 24px;
  display: flex;
}

adm-menu-item-text {
  flex: 1;
  padding: 8px;
  background-color: var(--bg-color-selected);
}

.AdmMenuItemLink {
  flex: 1;
  padding: 8px;
  background-color: var(--bg-color-result);
}
