.BranchesList {
  background-color: var( --bg-color-result );
}

.BranchesLine {
  height: 32px;
  display: grid;
  grid-template-columns: var(--branch-app-grid-columns);
  align-items: center;
  border-inline: 1px solid var( --fg-color-border );
  padding-inline: 4px;

  &:last-child {
    border-bottom: 1px solid var( --fg-color-border );
    border-radius: 0 0 5px 5px;
  }
  &.isHighlighted {
    background-color: var(--bg-color-selected);
  }
}

.BranchesLineActionEdit {
  display: inline-block;
  padding: 4px;
}
