branches-list {
  display: block;
  background-color: var( --bg-color-result );
  border-inline: 1px solid var( --fg-color-border );
  border-bottom: 1px solid var( --fg-color-border );
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;

  &[inert] {
    opacity: 30%;
  }
}

branch-line {
  height: 32px;
  display: grid;
  grid-template-columns: var( --branch-app-grid-columns );
  align-items: center;
  padding-inline: 4px;
}

.isBranchHighlighted {
  background-color: var( --bg-color-selected );
}

.BranchLineActionEdit {
  padding: 4px;
}
