.UserForm {
  &.hasSpinner {
    pointer-events: none;
    width: fit-content;
    opacity: 0.3;
  }
}

.UserFormTitle {
  font-size: 32px;

  padding-left: 8px;
  border-left: 1px solid;
  border-color: transparent;

  &.isFormChanged {
    border-color: inherit;
  }
}
