.UserForm {
  &[inert] {
    opacity: 30%;
  }
}

.UserFormTitle {
  font-size: 32px;

  padding-left: 8px;
  border-left: 1px solid;
  border-color: transparent;

  &.isFormChanged {
    border-color: inherit;
  }
}
