.AllowExitModalDialogMessage {
  padding: 8px;
  white-space: break-spaces;
}

.AllowExitModalDialogActions {
  display: flex;
  justify-content: space-between;
  padding: 8px;

  &[inert] {
    opacity: 30%;
  }
}

.AllowExitModalDialogButton {
  white-space: break-spaces;
}
