* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: system-ui,sans-serif;
  font-weight: 300;
}

a {
  text-underline-position: under;
  text-decoration-style: dotted;
}

button:not(:disabled) {
  cursor: pointer;
}

*[inert] {
  opacity: 30%;
}
