* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

a {
  color: #4285f4;
}

button:not(:disabled) {
  cursor: pointer;
}