.UsersList {
  border: solid 1px;
  border-top: none;
}

.UsersLine {
  height: 32px;
  display: grid;
  grid-template-columns: var(--user-app-grid-columns);
  align-items: center;
  padding: 4px;
}

.UsersLineActionEdit {
}

.UsersLineActionEditLink {
  display: inline-block;
}